<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

    <servlet>
        <servlet-name>mainServlet</servlet-name>
        <servlet-class>by.myfirstwebprojekt.TestServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>mainServlet</servlet-name>
        <url-pattern>/mypage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addEmployee</servlet-name>
        <servlet-class>servlets.AddEmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addEmployee</servlet-name>
        <url-pattern>/InformationEmployee</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProject</servlet-name>
        <servlet-class>servlets.AddProjectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProject</servlet-name>
        <url-pattern>/InformationProject</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addTask</servlet-name>
        <servlet-class>servlets.AddTaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addTask</servlet-name>
        <url-pattern>/InformationTask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listEmployee</servlet-name>
        <servlet-class>servlets.ListEmployeeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>listEmployee</servlet-name>
        <url-pattern>/threepage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listProject</servlet-name>
        <servlet-class>servlets.ListProjectServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>listProject</servlet-name>
        <url-pattern>/webapp/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>listTask</servlet-name>
        <servlet-class>servlets.ListTaskServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>listTask</servlet-name>
        <url-pattern>/twopage</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.jsp</welcome-file>
        <welcome-file>default.htm</welcome-file>
    </welcome-file-list>
</web-app>